<h1>Tutorials/index</h1>

<% @tutorials.each do |tutorial| %>
    <div><%= tutorial.name %></div></br>
    <div><%= tutorial.description %></div></br>
    <div><a href="<%= tutorial.url %>"><%= tutorial.url %></a></div></br>
    <div><img src="<%= tutorial.image %>"></div></br>
    <div><%= tutorial.cost %></div></br>
    <div><%= tutorial.difficulty%></div></br>
    <div><%= tutorial.format %></div></br>
    <div><%= tutorial.company %></div></br>
    <hr>
<% end %>