<h1>All Tutorials</h1>

<% @tutorials.each do |tutorial| %>
    <div class="col-md-4">
        <%= tutorial.company %></br>
        <a href="<%= tutorial.url %>"><%= tutorial.name %></a></br>
        <%= tutorial.description %></br>
        <%= image_tag(tutorial.tutorialimage.url.to_s, size: "100x100") %></br>
        Cost:
        <% if tutorial.cost == 0.0 %>
            Free <br>
        <% else %>  
           $<%= tutorial.cost %></br>
        <% end %>
        Difficulty: <%= tutorial.difficulty.capitalize %></br>
        Format: <%= tutorial.format.capitalize %></br>
        <% if current_user %>
            <% if liked(tutorial.id, current_user.id).nil? %>
                <%= button_to 'like', likes_path(like: {tutorial_id: tutorial.id, user_id: current_user.id})%>
            <% else %>
                <%= button_to 'unlike', {:controller => :likes, :action => 'destroy', :id => liked(tutorial.id, current_user.id)}, :method => :delete%>
            <% end %>
        <% else %>
            <p>Sign in to like</p>
        <% end %>
        <%= link_to 'view', tutorial_path(tutorial) %>
        <%= link_to 'edit', edit_tutorial_path(tutorial) %>
        <%= link_to 'delete', tutorial_path(tutorial), method: :delete, data: {confirm: 'You sure?'} %>
        <hr>
    </div>
<% end %>
