<meta property="og:title" content= <%= "#{@tutorial.name}" %>/>
<meta property="og:url" content= <%= "#{request.env['PATH_INFO']}" %>/>
<meta property="og:description" content= <%= "#{@tutorial.description}" %>/>

<h1>Tutorials/show</h1>
<div><%= @tutorial.name %></div></br>
<div><%= @tutorial.description %></div></br>
<div><a href="<%= @tutorial.url %>"><%= @tutorial.url %></a></div></br>
<div><img src="<%= @tutorial.image %>"></div></br>
<div><%= @tutorial.cost %></div></br>
<div><%= @tutorial.difficulty%></div></br>
<div><%= @tutorial.format %></div></br>
<div><%= @tutorial.company %></div></br>

<div class="fb-share-button" data-layout="button"></div>

<div id="fb-root"></div>
<script>

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>