<h1>Tutorials/show</h1>
<div><%= @tutorial.name %></div></br>
<div><%= @tutorial.description %></div></br>
<div><a href="<%= @tutorial.url %>"><%= @tutorial.url %></a></div></br>
<div><%= image_tag(@tutorial.tutorialimage.url.to_s, size: "100x100") %></div></br>
<div><%= @tutorial.cost %></div></br>
<div><%= @tutorial.difficulty%></div></br>
<div><%= @tutorial.format %></div></br>
<div><%= @tutorial.company %></div></br>

<div class="fb-share-button" data-layout="button"></div><br>
<a href="https://twitter.com/intent/tweet?button_hashtag=learn2code&text=I%20found%20this%20great%20tutorial%20online!!%20" class="twitter-hashtag-button" data-url="https://frozen-lake-4419.herokuapp.com<%= request.env['PATH_INFO'] %>">Tweet #learn2code</a>

<div id="fb-root"></div>

<script>

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

</script>

