<h1>Tutorials/show</h1>
<div><%= @tutorial.name %></div></br>
<div><%= @tutorial.description %></div></br>
<div><a href="<%= @tutorial.url %>"><%= @tutorial.url %></a></div></br>
<div><img src="<%= @tutorial.image %>"></div></br>
<div><%= @tutorial.cost %></div></br>
<div><%= @tutorial.difficulty%></div></br>
<div><%= @tutorial.format %></div></br>
<div><%= @tutorial.company %></div></br>

<a href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook">Facebook</a>

<script language="javascript">
    function fbshareCurrentPage()
    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
</script>