<!DOCTYPE html>
<html>
<head>
  <title>Coding Tutorials</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if @tutorial %>
      <meta property="og:title" content= "<%= @tutorial.name %>"/>
      <meta property="og:url" content= "https://frozen-lake-4419.herokuapp.com<%= request.env['PATH_INFO'] %>" />
      <meta property="og:description" content= "<%= @tutorial.description %>"/>
  <% end %>
</head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                  Coding Tutorials
              </a>
          </li>
          <li>
              <%= link_to "All Tutorials", tutorials_path %> 
          </li>
          <li>
              <%= link_to "Search Tutorials", user_path %> 
          </li>
          <li>
              <%= link_to "My Profile", user_path %> 
          </li>
          <li>
              <a href="#">To-Do:</a>
          </li>
      </ul>
  </div>
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
  <!-- /#sidebar-wrapper -->
<%= yield %>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
