<!DOCTYPE html>
<html>
<head>
  <title>ICanCodeBlah</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if @tutorial %>
      <meta property="og:title" content= "<%= @tutorial.name %>"/>
      <meta property="og:url" content= "<%= request.env['PATH_INFO'] %>" />
      <meta property="og:description" content= "<%= @tutorial.description %>"/>
  <% end %>
</head>
<body>

<%= yield %>
</body>
<%= render 'layouts/footer' %>
</html>
